button {
	width: 200px;
	height: 100px;
	background-color: lightgreen;
	position: fixed;
	font-family: sans-serif;
	font-size: x-large;
}

.button_left{
	left: 35%;
}

.button_right{
	right: 35%;
}

.button_top{
	top: 10%
}

.button_middle{
	top: 20%;
}

.button_bottom{
	top: 30%;
}

button.one{
	top: 5cm;
	left: 5cm;
	position: fixed;
}