#mydiv {
	position: absolute;
	z-index: 9;
  padding: 5px;
    top: 20vw;
    left: 27vw;
  }
#mydiv3 {
	position: absolute;
	z-index: 9;
  padding: 5px;
	top: 25vw;
	left: 31vw;
  }
#mydiv4 {
	position: absolute;
	z-index: 9;
  padding: 5px;
    top: 17vw;
    left: 33vw;
  }
#mydiv2 {
	position: absolute;
  padding: 5px;
	z-index: 9;
    top: 14vw;
	left: 29vw;
}
#result {
  position: absolute;
	z-index: 15;
	text-align: left;
	top: 35vw;
	left:23vw;
  }
  
  #mydivheader {
	padding: 1px;
	cursor: move;
	z-index: 10;
  }


.container {
    margin-top: 5%;
    margin-bottom: 1%;
    width: 100%;
    display: flex;
    height: 100vw;
    flex-direction: row-reverse;
}


footer {
    background-color: silver;
    width: 100%;
    height: 5vw;
}
.mytext {
  text-align: left;
}
.myinput {
  max-width: 6rem
}
.myindent{
  margin-left: 20px;
}
.mydoubleindent{
  margin-left: 35px;
}