img {
	max-width: 100%;
	height: auto;
	width: 8%;
  }

  img:hover {
	transform: scale(1.25);
  }
  .sideimagecontainer {
    display: none;
	  padding-right: 15%;
  }

  .sideimagecontainer > img {
	width: 40%;
  }

  .collapsmenu_2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .collapsmenu_2 img {
    width: 25%;
  }

  .aligncenterforme {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    flex-direction: column;
  }

  .setthesidetogo {
    width: 100%;
  }